.features {

}


.features__slogans {
  display: flex;
  flex-direction: column;

  margin-bottom: 85px;
  padding-top: 42px;
}

.section-title {
  font-family: @main-font;
  font-weight: 300;
  font-size: 24px;
  line-height: auto;
  letter-spacing: 0;
  color: #283645;

  margin: 0 auto;
  margin-bottom: 30px;
  width: 280px;
  text-align: center;
}

.features__list {
  margin: 0 auto;
  margin-bottom: 275px; /*удалить. вместо картинки*/
  padding: 0;
  list-style: none;
  width: 280px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.features__item {
  margin-bottom: 20px;
  text-align: center;
}

.features__title {
  margin: 0;
  margin-bottom: 12px;

  font-family: @main-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color: #283645;
}

.features__text {
  font-family: @main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  color: #283645;
}


