
.intro {
  height: 400px;
  background-color:#1d2631;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 110px, center -70px;
}

.intro__title {
  font-family: @main-font;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2em;
  letter-spacing: 0em;
  color: #ffffff;

  width: 280px;
  padding: 20px;
  padding-top: 36px;
  text-align: center;
}


