.page-footer {
  padding: 0px;
  margin: 0px;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo-image {
  margin-top: 40px;
}

.copyright__img {
  width: 27px;
  height: 34px;
}
