.reviews{
  min-height: 444px;
  background-color: yellow; /*удалить*/
}

.reviews__list {
margin: 0 auto;
padding: 0;
list-style: none;
width: 280px;

text-align: center;

}

.reviews__name {
  margin-top: 27px;
  margin-bottom: 0;

  font-family: @main-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0;
  color: #283645;
}

.reviews__text {
  font-family: @main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0;
  color: #283645;
}
